.wrapper {
  /* background-color: var(--color-primary); */
  /* border: 2px solid #121212; */
  /* padding-top: 5px; */
  

}

#logo {
  display: flex;
  margin: 14px;
  cursor: pointer;
}

.logoWrapper {
  cursor: pointer;
}

.navbarContainer {
  width: 95vw;
  /* margin: auto auto; */
  height: 74px;
  display: flex;
  padding: 0 32px;
  align-items: center;
  justify-content: space-between;
  background-color: #34C94B;
}

.nav_link {
  margin-left: 25px;
  cursor: pointer;
  background-color: #121212;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: #34C94B;
  padding: 10px 20px;
}

@media (max-width: 576px) {
  .navbarContainer {
    height: auto;
    padding: 1rem;
    text-align: center;
  }

  .nav_link {
    font-size: 16px;
    padding: 10px 12px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 913px) {
  .navbarContainer {
    padding: 20px;
  }

  .nav_link {
    font-size: 16px;
    padding: 10px 20px;
  }

  .wrapper .navbarContainer .searchWrapper {
    display: none;
  }
}
