.card{
    display:flex;
    flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

  
}
.collapse{
    color: #34C94B;
    /* justify-content: ; */
}

.imageContainer > img{
    width: 159px;
    height: 232px;
    border-radius: 8px;
}
.image-container{
    width:159px;
    height:259px;
    background-color: #ffffff;
}
.album{
    display:flex;
    gap: 20px;
    
    /* flex-direction: column */


}

.follows{
    color:white;
}
.heading{
    color: #ffffff;
    font-size: 20px;
}
.container{
    background-color: #121212;
color: #ffffff;
}
.headingContainer{
    display:flex;
    justify-content: space-between;

}